version: '3'
services:
  bibliotech_ascitech_cd:
    image: node:20
    container_name: bibliotech_ascitech_cd
    # ports:
    #   - "93:3000"
    expose:
      - 3000
    working_dir: /app
    volumes:
      - ./:/app/
    env_file:
      - ./.env
    command: >
      bash -c "yarn install && yarn build && yarn start"
    restart: always
    networks:
      - dokploy-network
    
    labels: 
      - "traefik.enable=true"

      # Router
      - "traefik.http.routers.bibliotech_ascitech_cd.rule=Host(`bibliotech.cd`)"
      - "traefik.http.routers.bibliotech_ascitech_cd.entrypoints=websecure"
      - "traefik.http.routers.bibliotech_ascitech_cd.tls=true"
      - "traefik.http.routers.bibliotech_ascitech_cd.tls.certresolver=letsencrypt"
      - "traefik.http.routers.bibliotech_ascitech_cd.priority=100"

      # Service
      - "traefik.http.services.bibliotech_ascitech_cd.loadbalancer.server.port=3000"

      # ===== CORS MIDDLEWARE =====
      - "traefik.http.middlewares.bibliotech-cors.headers.accessControlAllowOriginList=https://bibliotech.cd,https://api.bibliotech.cd"
      - "traefik.http.middlewares.bibliotech-cors.headers.accessControlAllowMethods=GET,POST,PUT,PATCH,DELETE,OPTIONS"
      - "traefik.http.middlewares.bibliotech-cors.headers.accessControlAllowHeaders=Authorization,Content-Type,Accept,Origin"

      # Attach middleware to router
      - "traefik.http.routers.bibliotech_ascitech_cd.middlewares=bibliotech-cors"

      # ===== DJANGO ADMIN ROUTER =====
      - "traefik.http.routers.bibliotech_admin.rule=Host(`bibliotech.cd`) && PathPrefix(`/admin`)"
      - "traefik.http.routers.bibliotech_admin.entrypoints=websecure"
      - "traefik.http.routers.bibliotech_admin.tls=true"
      - "traefik.http.routers.bibliotech_admin.tls.certresolver=letsencrypt"
      - "traefik.http.routers.bibliotech_admin.priority=200"

      # Service (même backend)
      #- "traefik.http.routers.bibliotech_admin.service=bibliotech_ascitech_bk"
      - "traefik.http.services.bibliotech_admin.loadbalancer.server.port=8000"

      # Middlewares
      - "traefik.http.routers.bibliotech_admin.middlewares=bibliotech-cors"

      # Auth Basic optionnel (recommandé)
      #- "traefik.http.routers.bibliotech_ascitech_cd.middlewares=bibliotech_ascitech_cd-auth"
      #- "traefik.http.middlewares.bibliotech_ascitech_cd-auth.basicauth.users=admin:$$apr1$$xxxxxxxxxxxx"

networks:
  dokploy-network:
    external: true
